<!--The content below is only a placeholder and can be replaced.-->
<mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[9]" [center]="[-75.567,  6.217]">

    <mgl-popup *ngFor="let item of data" [lngLat]="[item.longitud,  item.latitud]" [closeOnClick]="false">
        <mgl-marker [lngLat]="[item.longitud, item.latitud]">
            <div class="marker">
                {{item.nombre}}
            </div>
        </mgl-marker>
        <h4>{{ item.nombre }}</h4>
    </mgl-popup>
</mgl-map>

<input type="text" type="text" (keyup)="getPersona(name.value)" #name>
