<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Mapa</a>
    <form class="form-inline">
        <input type="text" type="text" class="form-control mr-sm-5" placeholder="Persona a consultar" (keyup)="getPersona(name.value)" #name>
    </form>
</nav>
<div class="container mt-5">
    <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[10]" [center]="[-75.567,  6.217]">
        <mgl-popup *ngFor="let item of data" [lngLat]="[item.longitud,  item.latitud]" [closeOnClick]="false">
            <mgl-marker [lngLat]="[item.longitud, item.latitud]">
                <div class="marker">
                    {{item.nombre}}
                </div>
            </mgl-marker>
            <h4>{{ item.nombre }}</h4>
        </mgl-popup>
    </mgl-map>
</div>